#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --buildsystem=nodejs
	debian/rules debian/wscat.1

debian/wscat.1:
	mkdir -p node_modules
	ln -nsf .. node_modules/ws
	help2man -N -n "Communicate over websocket" wscat/bin/wscat -o "$@"
	rm -f node_modules/ws
